.imagenescalable{
	width:100%;
	max-width:300px;
	}
.categoria{
	color: #7195EA;
	font-size: 70%;
}
.apodo{
	color: #666666;
	font-size: 70%;
}
.valoracion{
	color: #339900;
	font-size: 70%;
}
.capaerrores{
	display:none;
	font-size: 12px;
	background-color: #FFB7B9;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top: 3px;
	font-weight: 100;
	color: #A50505;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	width: 182px;
}
.capaexito{
	display:none;
	font-size: 12px;
	background-color: #8bea92;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 5px;
	margin-top: 3px;
	font-weight: 100;
	color: #276d2c;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	width: 182px;
}
textarea{
	width:100%;
	}
#strNombre {

}

#bloqueformulariocategorialistaresultados {
	background-color: #30F;
}
/* Para los campos del formulario INSERTAR*/
.formularios input:focus {
	background: #FF3; 
	border:1px solid #F00; 
	box-shadow: 0 0 3px #aaa;
	padding-right:5%;
}
/* Para el formulario de MODIFICAR */
.formularios1 input:focus {
	background: #FF3; 
	border:1px solid #F00; 
	box-shadow: 0 0 3px #aaa;
	color:#F00;
	padding-right:5%;
}

.ccurso{
	color:#F00;
}
.cdni{
	color:#F00;

	}